* {
    color: #fff;
    font-family: sans-serif;
}

body {
    background-color:  #1b1b32;
}

h1 {
    right: 50%;
    margin-top: 50px;
    margin-bottom: 175px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
}

p {
    font-weight: bold;
    font-size: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-container label {
    display: block;
}

.form-container form button {
    position: relative;
    right: -25%;
}

.form-container form label {
    margin: 10PX;
}

.form-container form button{
    color: black;
    border-radius: 5%;
    border: none;
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

.form-container input {
    color: black;
}

.form-container form #age {
    width: 100px;
    color: black;
}

.form-container form #new-user-sex{
    width: 200px;
    color: black;
}

.form-container form #new-user-sex option{
    width: 100px;
    color: black;
}


.form-container form #new-username-training-status{
    width: 200px;
    color: black;
}

.form-container form #new-username-training-status option{
    width: 100px;
    color: black;
}


.form-container form #psw {
    color: black;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #1b1b32;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 3px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "x";
  }