* {
    color: #fff;
    font-family: sans-serif;
}

body {
    background-color:  #1b1b32;
}

h1 {
    right: 50%;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 1.2rem;
}

a {
    text-decoration: underline;
}

a:hover {
    color: gray ;
}

p {
    font-weight: bold;
    font-size: 1.2px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container label {
    display: block;
}

.form-container form {
    display: bock;
    background-color:  #1b1b32;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}


.form-container form select {
    background: #1b1b32;
}


.form-container form button {
    position: relative;
    right: -25%;
}

.form-container form label {
    margin: 1rem;
    max-width: 400px;
}

.form-container form button{
    color: black;
    border-radius: 5%;
    border: none;
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

.form-container input {
    color: white;
    background-color:  #1b1b32;
}


.form-container form #age {
    width: 150px;
    color: white;
}

.form-container form #new-user-sex{
    width: 200px;
    color: white;
}

.form-container form #new-user-sex option{
    width: 100px;
    color: white;
}


.form-container form #new-username-training-status{
    width: 200px;
    color: white;
}

.form-container form #new-username-training-status option{
    width: 100px;
    color: white;
}


.form-container form #profile-pic {
    color: white;
    padding-left: 16rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #1b1b32;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    max-width: 400px;
  }
  
  #message p {
    padding: 3px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "x";
  }


